@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #f0f0db;
  --foreground: #30364f;
  --card: #f0f0db;
  --card-foreground: #30364f;
  --popover: #f0f0db;
  --popover-foreground: #30364f;
  --primary: #30364f;
  --primary-foreground: #30364f;
  --secondary: #e1d9bc;
  --secondary-foreground: #30364f;
  --muted: #acbac4;
  --muted-foreground: #30364f;
  --accent: #e1d9bc;
  --accent-foreground: #30364f;
  --destructive: #9b3a2f;
  --border: #acbac4;
  --input: #acbac4;
  --ring: #30364f;
  --chart-1: #30364f;
  --chart-2: #acbac4;
  --chart-3: #e1d9bc;
  --chart-4: #f0f0db;
  --chart-5: #e1d9bc;
  --sidebar: #e1d9bc;
  --sidebar-foreground: #30364f;
  --sidebar-primary: #30364f;
  --sidebar-primary-foreground: #30364f;
  --sidebar-accent: #acbac4;
  --sidebar-accent-foreground: #30364f;
  --sidebar-border: #acbac4;
  --sidebar-ring: #30364f;
}

.dark {
  --background: #30364f;
  --foreground: #30364f;
  --card: #30364f;
  --card-foreground: #30364f;
  --popover: #30364f;
  --popover-foreground: #30364f;
  --primary: #f0f0db;
  --primary-foreground: #30364f;
  --secondary: #acbac4;
  --secondary-foreground: #30364f;
  --muted: #acbac4;
  --muted-foreground: #30364f;
  --accent: #e1d9bc;
  --accent-foreground: #30364f;
  --destructive: #d46a5f;
  --border: #acbac4;
  --input: #acbac4;
  --ring: #f0f0db;
  --chart-1: #f0f0db;
  --chart-2: #acbac4;
  --chart-3: #e1d9bc;
  --chart-4: #30364f;
  --chart-5: #acbac4;
  --sidebar: #30364f;
  --sidebar-foreground: #30364f;
  --sidebar-primary: #f0f0db;
  --sidebar-primary-foreground: #30364f;
  --sidebar-accent: #acbac4;
  --sidebar-accent-foreground: #30364f;
  --sidebar-border: #acbac4;
  --sidebar-ring: #f0f0db;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
